body{
    background: darkgreen;
    width: 100%;
    position: relative;

}

.jumbotron {
    background-image: url(../images/Landscape\ 02.jpg);
    background-size: cover;
}

.jumboText {
    background: rgba(255,255,255, .7);
    width: 80%;
    margin: 0 auto;
    padding: 10px;
}

#main-container {
    width: 80%;
    background: rgba(255,255,255, .7);
    display: block;
    overflow: auto;
    height: 100%;
    padding-bottom: 20px;
  
}

#gif-form {
    float: right;
    background: white;
    padding-right: 10px;
    
}

#buttons-view{
    padding: 10px;
}

.form-group {
    padding: 10px;
}

#animal-input {
    margin-left: 10px;
}

.animal-button {
    margin: 10px;
}

#gif-view {
	clear: both;
	display: inline;
    flex-wrap: wrap;
}

img {
    display: block;
}

